{% extends "base.html" %}
{% load static %}
{% block content %}
            <div class="checkout-area pt-60 pb-30">
                <div class="container">
                    <form id="order_form"  method="post" data-communes-url="{% url 'delivery:load_communes' %}">

						{% csrf_token %}

                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-accordion">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                                <div class="checkbox-form">
                                    <h3>Livraison Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Nom<span class="required">*</span></label>
                                                <input placeholder=""name="first_name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Prénom <span class="required">*</span></label>
                                                <input placeholder=""name="last_name" type="text">
                                            </div>
                                        </div>
                                      
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Addresse <span class="required">*</span></label>
                                                <input placeholder="Street address"name="address" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Entreprise</label>
                                                <input placeholder="(optional)"name="campany" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="country-select clearfix">
                                                <label>Wilaya <span class="required">*</span></label>
                                                <select class="nice-select wide" name="wilaya" id="wilayaId" >
										                                <option class="option" value='' selected>Wilaya</option>
                                                    {% for wilaya in wilayas %}
                                                        <option  value={{wilaya.id}} >{{wilaya.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="country-select clearfix" id="communesId">
                                                <label>Commune <span class="required">*</span></label>
                                                <select class="nice-select wide" name="commune" id="communesId" required>
            										<option class="option" value='' selected>Communes</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Email Address </label>
                                                <input placeholder=""name="email" type="email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Phone  <span class="required">*</span></label>
                                                <input type="text" name="phone">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Note</label>
                                                <textarea placeholder="" name="note" type="text"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="your-order">
                                <h3>Votre Commande</h3>
                                <div class="your-order-table table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="cart-product-name">Produit</th>
                                                <th class="cart-product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% with total_items=cart|length %}
										{% if total_items > 0 %}
											{% for item in cart %}
												{% with product=item.product %}
                                                <tr class="cart_item">
                                                    <td class="cart-product-name"> <strong class="product-quantity">{{item.quantity}}</strong> x {{product.name}}</td>
                                                    <td class="cart-product-total"><span class="amount">{{item.price}} DZD</span></td>  
                                                  </tr>
												{% endwith %}
										{% endfor %}
										{% else %}
											Vou n'avez pas de produit dans votre panier
										{% endif %}
										{% endwith %}
                                        </tbody>
                                        <tfoot>
                                            <tr class="order-total">
                                                <th>Total</th>
						                        <div><strong class="order-total" id="order_total" data-order-total="{{ cart.get_total_price_after_discount|floatformat:2}}"></strong></div>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion">
                                        <div id="accordion">
                                          <div class="card">
                                            <div class="card-header" id="#payment-1">
                                              <h5 class="panel-title">
                                                <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Direct Bank Transfer.
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                            <div class="card-header" id="#payment-2">
                                              <h5 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                  Cheque Payment
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                            <div class="card-header" id="#payment-3">
                                              <h5 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                  PayPal
                                                </a>
                                              </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                              <div class="card-body">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="order-button-payment">
                                            <input value="Place order" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
            <!--Checkout Area End-->
{% endblock content %}
            