{% load i18n %} 
{% load static %}
<div class="single-product-wrap">
    <div class="product-image d-flex justify-content-center">
        <a href="{{product.get_absolute_url}}">
            <img class=""
            {% if product.photos.all.0 %}
                src="{{product.photos.all.0.fichier.url}}" alt="{{product.name}}">
            {% else %}
                src="{% static "images/pas-images.png" %}" alt="Pas de photo pour le moment">
            {% endif %}
        </a>
        {% if product.new  %}
            <span class="sticker">New</span>
        {% endif %}
    </div>
    <div class="product_desc">
        <div class="product_desc_info">
            <div class="product-review">
                <h5 class="manufacturer d-flex justify-content-between">
                    <a href="{{product.category.get_absolute_url}}">{{product.category}}</a>
                    {% if product.brand %}
                        <a href="{{product.category.get_absolute_url}}">{{product.brand}}</a>
                    {% endif %}
                </h5>
            </div>
            <h4><a class="product_name" href="{{product.get_absolute_url}}">{{product.name|truncatewords:4}}</a></h4>
            <div class="price-box">
                <span class="new-price new-price-2">{{product.price}} DA</span>
                {% if product.old_price %}
                    <span class="old-price">{{product.old_price}}</span>
                    <span class="discount-percentage">{{product.promo}}%</span>
                {% endif %}
            </div>
        </div>
        <div class="add-actions d-none d-md-block">
            <form id="add_one_cart" hx-target=".hm-minicart" hx-swap="outerHTML" class="block2-btn-addcart">
                {% csrf_token %}
                <ul class="add-actions-link d-flex justify-content-center">
                    <li class="add-cart active" ><a hx-post="{% url 'cart:cart_one_add' product.id %}" class="block2-name" >Ajouter au panier</a></li>
                </ul>
            </form>
        </div>
    </div>
</div>


 {% block extrajs %}
 <script>
    $('.block2-btn-addcart').each(function(){
        var nameProduct = $(this).parent().parent().parent().parent().find('.product_name').html();
        $(this).on('click', function(){
            swal(nameProduct, "Ajouté au panier", "success");
        });
    });
</script>
 {% endblock extrajs %}