{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}

{% block content %}
        <div class="slider-with-banner" style="margin-top: 20px;">
            <div class="container">
                <div class="row">
                    {% if config.template == '02' %}
                        <div class="col-lg-3">
                            <!--Category Menu Start-->
                            <div class="category-menu">
                                <div class="category-heading">
                                    <h2 class="categories-toggle"><span>categories</span></h2>
                                </div>
                                <div id="cate-toggle" class="category-menu-list">
                                    <ul>
                                        {% for category in categories %}
                                            <li class="right-menu {% if forloop.counter > 8 %}rx-child{% endif %}"><a class="tree-title text-uppercase" href="{{category.get_absolute_url}}">{{category.name}}</a>
                                                {% if category.children.count > 0 %}
                                                    <ul class="cat-mega-menu">
                                                        {% for tree in category.children.all %}
                                                            <li class="right-menu cat-mega-title">
                                                                <a class="text-uppercase" href="{{node.get_absolute_url}}">{{tree.name}}</a>
                                                                <ul>
                                                                    {% for sub in tree.children.all %}
                                                                        <li><a class="text-uppercase" href="{{sub.get_absolute_url}}">{{sub.name}}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}  
                                        <li class="rx-parent">
                                            <a class="rx-default">Afficher Plus</a>
                                            <a class="rx-show">Afficher Moins</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div
                        {% if config.template == '02' %}
                            class="col-lg-9">
                        {% else %}
                            class="col-lg-12">
                        {% endif %}
                        <div class="slider-area pt-sm-30 pt-xs-30">
                            <div class="slider-active owl-carousel">
                                {% for slide in big_slides %}
                                    <a href="{{slide.url}}">
                                        <div class="single-slide align-center-left animation-style-02 bg-4" style="background-image: url({{slide.photo.url}});">
                                            <div class="slider-progress"></div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin Li's Static Banner Area -->
        <div class="li-static-banner pt-20 pt-sm-30 pt-xs-30">
            <div class="container">
                <div class="row">
                    {% for slide in three_photos %}
                        <div class="col-lg-4 col-md-4">
                            <div class="single-banner pb-xs-30">
                                <a href="{{slide.photo.url}}">
                                    <img src="{{slide.photo.url}}" alt="banner">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Li's Static Banner Area End Here -->
        <!-- Begin Li's Special Product Area -->
        <section class="product-area li-laptop-product Special-product pt-60 pb-45">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Section Area -->
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>Nouvel Arrivage</span>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="special-product-active owl-carousel">
                                {% for product in new_products %}
                                    <div class="col-lg-12">
                                        {% include "snippets/product-block.html" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Li's Section Area End Here -->
                </div>
            </div>
        </section>
        <!-- Li's Special Product Area End Here -->
        <!-- Begin Li's Laptops Product | Home V2 Area -->
        <section class="product-area li-laptop-product li-laptop-product-2 pb-45">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Section Area -->
                    <div class="col-lg-12">
                        <div class="li-banner-2 pt-15 pb-15">
                            <div class="row">
                                {% if dual_banners.count == 2 %}
                                    {% for banner in dual_banners %}
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-banner">
                                                <a href="{{banner.url}}">
                                                    <img src="{{banner.photo.url}}" alt="Li's Static Banner">
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-area li-trending-product li-trending-product-2  pb-45">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Tab Menu Area -->
                    <div class="col-lg-12">
                        <div class="li-product-tab li-trending-product-tab">
                            <h2>
                                <span>Produits a découvrir</span>
                            </h2>
                            <ul class="nav li-product-menu li-trending-product-menu">
                                {% for cat in random_cat %}
                                    <li><a 
                                        {% if forloop.first %}
                                            class="active"
                                        {% endif %}
                                        data-toggle="tab" href="#{{cat.id}}">
                                        <span class="text-uppercase">{{cat.name}}</span>
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Begin Li's Tab Menu Content Area -->
                        <div class="tab-content li-tab-content li-trending-product-content">
                            {% for cat in random_cat %}
                                <div id="{{cat.id}}" 
                                {% if forloop.first %}
                                    class="tab-pane show fade in active"
                                {% else %}
                                    class="tab-pane fade"
                                {% endif %}
                                >
                                    <div class="row">
                                        <div class="product-active owl-carousel">
                                            {% for product in cat.products.all %}
                                                <div class="col-lg-12">
                                                    {% include "snippets/product-block.html" %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Tab Menu Content Area End Here -->
                    </div>
                    <!-- Tab Menu Area End Here -->
                </div>
            </div>
        </section>
        {% if large_banner.photo %}
            <div class="li-static-home pb-45">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="{{large_banner.url}}">
                                <div class="li-static-home-image" style="background-image: url({{large_banner.photo.url}});"></div>
                            </a>
                            <!-- Begin Li's Static Home Image Area -->
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
            <!-- Li's Static Home Area End Here -->
            <!-- Begin Li's Trending Product | Home V2 Area -->
            <!-- Li's Trending Product | Home V2 Area End Here -->
{% endblock content %}
