{% load static %}
{% load mptt_tags %}
{% load compress %}

<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- 40432:14-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="keywords" content="branding, digital, design, studio, creative, services,consulting" />
        <meta name="description" content="assure une gamme de services d’assistance et conseil en affaires pour une gestion efficace. " />
        <meta name="robots" content="index, follow" />
        <meta name="language" content="French" />
        <meta content="Octopus Consulting" name="author" />
        <meta property="og:url" content="https://www.kahraba-dz.com/" />
        <meta property="og:title" content="{{business.title}}" />
        <meta property="og:type" content="Services" />
        <meta property="og:site_name" content="{{business.name}} | {{business.title}}" />
    <title>{{business.title}}</title>
        <!-- Favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="{{business.logo.url}}">
            <!-- Material Design Iconic Font-V2.2.0 -->
            <link rel="stylesheet" href="{% static "css/material-design-iconic-font.min.css" %}">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
            <!-- Font Awesome Stars-->
            <link rel="stylesheet" href="{% static "css/fontawesome-stars.css" %}">
            <!-- Meanmenu CSS -->
            <link rel="stylesheet" href="{% static "css/meanmenu.css" %}">
            <!-- owl carousel CSS -->
            <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
            <!-- Slick Carousel CSS -->
            <link rel="stylesheet" href="{% static "css/slick.css" %}">
            <!-- Animate CSS -->
            <link rel="stylesheet" href="{% static "css/animate.css" %}">
            <!-- Jquery-ui CSS -->
            <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
            <!-- Venobox CSS -->
            <link rel="stylesheet" href="{% static "css/venobox.css" %}">
            <!-- Nice Select CSS -->
            <link rel="stylesheet" href="{% static "css/nice-select.css" %}">
            <!-- Magnific Popup CSS -->
            <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
            <!-- Bootstrap V4.1.3 Fremwork CSS -->
            <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
            <!-- Helper CSS -->
            <link rel="stylesheet" href="{% static "css/helper.css" %}">
            <!-- Main Style CSS -->
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <!-- Responsive CSS -->
            <link rel="stylesheet" href="{% static "css/responsive.css" %}">
            <!-- Modernizr js -->
                <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
        {% block style_css %}
  
        {% endblock style_css %}
    </head>
    <body>
      <style>
          {% if config.header_color %}
                header {
                background-color: {{config.header_color}};
          }
          {% endif %}
          {% if config.nav_bar_color %}
          .header-bottom, .header-sticky.sticky{
              background-color:{{config.nav_bar_color}} ;
          }
          {% endif %}
          {% if config.text_nav_bar_color %}
          .header-bottom .hb-menu nav > ul > li > a{
              color:{{config.text_nav_bar_color}} ;
          }
          {% endif %}
          {% if config.buttons_color %}
          ul.des > li > a:hover,
          .product_desc .manufacturer a:hover,
          .product-details-view-content .product-info h2,
          .country-select label span.required, .checkout-form-list label span.required,
          .hb-menu nav ul > li > ul.hb-dropdown > li > a:hover
          {
              color: {{config.buttons_color}};
          } 
          .contact-form .li-btn-3:hover,
          .add-actions-link li:hover {
                background-color: {{config.buttons_color}};
                border-color: {{config.buttons_color}};
            }
            .cart-quantity .add-to-cart,
          .cart-quantity .add-to-cart,
          .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus,
          #scrollUp:hover,
          .li-trending-product-tab > h2 > span::before,
          .li-section-title > h2 > span::before,
          .apply-filters:hover .filter-button,
          .contact-form .li-btn-3:hover,
          .order-button-payment input:hover,
          .coupon-all .button:hover,button.li-btn ,
          .cart-item-count{
              background-color:{{config.buttons_color}} ;
          }
          {% endif %}
          {% if config.text_buttons_color %}
          .add-actions-link li.add-cart:hover a,
          .cart-quantity .add-to-cart:hover,
          .cart-quantity .add-to-cart,

          .cart-quantity .add-to-cart
          .apply-filters:hover .filter-button,
          .order-button-payment input:hover,
          .coupon-all .button:hover,button.li-btn ,
          .cart-item-count{
              color:{{config.text_nav_bar_color}} ;
          }
          {% endif %}
          {% if config.links_color %}
          .hb-menu nav > ul > li:hover > a, .hb-menu nav > ul > li:hover > a::after{
              color:{{config.text_nav_bar_color}} ;
          }
          {% endif %}
          {% if config.theme_color %}
          .footer,.your-order, thead,.sidebar-categores-box,.sidebar-categores-box > input,.sidebar-categores-box > select, .breadcrumb-area,.shop-add-action{
              background-color:{{config.theme_color}} ;
              border: none;
          }
          {% endif %}
      </style>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <header>
                <!-- Begin Header Top Area -->
                
                <!-- Header Top Area End Here -->
                <!-- Begin Header Middle Area -->
                <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
                    <div class="container">
                        <div class="row">
                            <!-- Begin Header Logo Area -->
                            
                            <div class="col-lg-3">
                                <div class="logo pb-sm-30 pb-xs-30">
                                    <a href="{% url 'core:index' %}">
                                        <img width="170" src="{{business.logo.url}}" alt="logo {{business.name}}">
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo Area End Here -->
                            <!-- Begin Header Middle Right Area -->
                            <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                                <!-- Begin Header Middle Searchbox Area -->
                                <form action="{% url 'core:products' %}" method="GET" class="hm-searchbox">
                                    <select class="nice-select select-search-category" name="category">
                                        <option value="all" >Tous les produits</option>
                                        {% for cat in categories %}
                                            <option class="text-uppercase" value="{{cat.id}}">{{cat.name}}</option>
                                        {% empty %}
                                            pas de catégories pour le moment
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="name" placeholder="Recherchez : nom, mot-clé...">
                                    <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                                <!-- Header Middle Searchbox Area End Here -->
                                <!-- Begin Header Middle Right Area -->
                                <div class="header-middle-right">
                                    <ul class="hm-menu">     
                                    <!-- Begin Header Middle Wishlist Area -->
                                        {% include "snippets/cart-count.html" %}
                                    </ul>
                                </div>
                                        {% comment %}
                                        <!-- <li class="hm-minicart">
                                            <div class="hm-minicart-trigger">
                                                <span class="item-icon"></span>
                                                <span class="item-text">{{cart.get_total_price}} DA
                                                    <span class="cart-item-count">{{cart|length}}</span>
                                                </span>
                                            </div>
                                            <span></span>
                                            <div class="minicart">
                                                <ul class="minicart-product-list">
                                                {% with total_items=cart|length %}
                                                    {% if total_items > 0 %}
                                                        {% for item in cart %}
                                                            {% with product=item.product %}
                                                                <li>
                                                                    <a href="{% url 'cart:cart_detail' %}" class="minicart-product-image">
                                                                        <img src="{{product.photos.all.0.fichier.url}}" alt="cart products">
                                                                    </a>
                                                                    <div class="minicart-product-details">
                                                                        <h6><a href="{% url 'cart:cart_detail' %}">{{product.name}}</a></h6>
                                                                        <span>{{item.quantity}} X {{product.price}} DA</span>
                                                                    </div>
                                                                </li>
                                                            {% endwith %}
                                                        {% endfor %}
                                                    {% else %}
                                                      Votre Panier est vide.
                                                    {% endif %}
                                                {% endwith %}
                                                </ul>
                                                <p class="minicart-total">Sous total: <span>{{ cart.get_total_price }} DA</span></p>
                                                <div class="minicart-button">
                                                    <a href="{% url 'cart:cart_detail' %}" class="li-button li-button-fullwidth li-button-dark">
                                                        <span>Voir Panier</span>
                                                    </a>
                                                    <a href="{% url 'order:order_create' %}" class="li-button li-button-fullwidth">
                                                        <span>Commander</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li> -->
                                        {% endcomment %}
                                        <!-- Header Mini Cart Area End Here -->
                                <!-- Header Middle Right Area End Here -->
                            </div>
                            <!-- Header Middle Right Area End Here -->
                        </div>
                    </div>
                </div>
                <!-- Header Middle Area End Here -->
                <!-- Begin Header Bottom Area -->
                <div class="header-bottom mb-0 header-sticky stick d-none d-lg-block d-xl-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hb-menu">
                                    <nav>
                                        <ul>
                                            <li><a href="{% url 'core:index' %}">Accueil</a></li>
                                            {% recursetree categories %}
                                                        <li 
                                                        {% if node.children.count > 0 %}
                                                            class="sub-dropdown-holder text-uppercase"
                                                        {% endif %}
                                                        ><a class="text-uppercase" href="{{node.get_absolute_url}}">{{node.name}}</a>
                                                            {% if node.children.count > 0 %}
                                                                <ul class="hb-dropdown hb-sub-dropdown">
                                                                    {% for tree in node.children.all %}
                                                                        <li><a class="text-uppercase" href="{{tree.get_absolute_url}}">{{tree.name}}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endrecursetree %}
                                            
                                            <li class="gauches float-right"><a href="{% url 'core:products'  %}?new=new">Nouveautés</a></li>
                                            <li class="gauches float-right"><a href="{% url 'core:products'  %}?new=promo">Promotions</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header Bottom Menu Area End Here -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Bottom Area End Here -->
                <!-- Begin Mobile Menu Area -->
                <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                    <div class="container"> 
                        <div class="row">
                            <div class="mobile-menu"> </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header Area End Here -->
           {% block content %} 
           
           {% endblock content %}
            <!-- Begin Footer Area -->
            <div class="footer">
                <!-- Begin Footer Static Top Area -->
                <div class="footer-static-top">
                    <div class="container">
                        <!-- Begin Footer Shipping Area -->
                        <div class="footer-shipping pt-60 pb-25">
                            <div class="row d-flex justify-content-center">
                                <!-- Begin Li's Shipping Inner Box Area -->
                                {% for service in sav %}
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            {% if serivce.icon %}
                                                <img src="{{service.icon.url}}" alt="{{service.name}}">
                                            {% else %}
                                                <img src="{% static "images/icons/4.png" %}" alt="service aprés vente">
                                            {% endif %}
                                            
                                        </div>
                                        <div class="shipping-text">
                                            <h2>{{service.name}}</h2>
                                            <p>{{serivce.sub_title}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Li's Shipping Inner Box Area End Here -->
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <!-- Li's Shipping Inner Box Area End Here -->
                            </div>
                        </div>
                        <!-- Footer Shipping Area End Here -->
                    </div>
                </div>
                <!-- Footer Static Top Area End Here -->
                <!-- Begin Footer Static Middle Area -->
                <div class="footer-static-middle">
                    <div class="container">
                        <div class="footer-logo-wrap pt-50 pb-35">
                            <div class="row">
                                <!-- Begin Footer Logo Area -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="footer-logo">
                                        <a href="{% url 'core:index' %}">
                                            <img src="{{business.logo.url}}" width="180" alt="Footer Logo">
                                        </a>
                                        {% if business.mini_about %}
                                            <p class="info">
                                                {{business.mini_about}}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <ul class="des">
                                        <li>
                                            <span>Address: </span>
                                            {{business.adress}}
                                        </li>
                                        <li>
                                            <span>Phone: </span>
                                            <a href="tel:{{business.phone}}">{{business.phone}}</a>
                                        </li>
                                        <li>
                                            <span>Email: </span>
                                            <a href="mailto{{business.email}}">{{business.email}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Footer Logo Area End Here -->
                                <!-- Begin Footer Block Area -->
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="footer-block">
                                        <h3 class="footer-block-title">Catégories populaires</h3>
                                        <ul>
                                            {% for cat in bottom_categories %}
                                                <li><a class="text-uppercase" href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- Footer Block Area End Here -->
                                <!-- Begin Footer Block Area -->
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="footer-block">
                                        <h3 class="footer-block-title">{{business.name}}</h3>
                                        <ul>
                                            <li><a class="text-uppercase" href="#">Nos réalisations</a></li>
                                            <li><a class="text-uppercase" href="{% url 'core:about' %}">A propos</a></li>
                                            <li><a class="text-uppercase" href="{% url 'core:contact' %}">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Footer Block Area End Here -->
                                <!-- Begin Footer Block Area -->
                                <div class="col-lg-2">
                                    <div class="footer-block">
                                        <h3 class="footer-block-title">Suivez-nous</h3>
                                        <ul class="social-link">
                                            {% if business.twitter %}
                                                <li class="twitter">
                                                    <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if business.google_plus  %}
                                                <li class="google-plus">
                                                    <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if business.facebook %}
                                                <li class="facebook">
                                                    <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if business.youtube %}
                                                <li class="youtube">
                                                    <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </li>
                                            {% endif %}                                                                                          
                                            {% if business.insta %}
                                                <li class="instagram">
                                                    <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <!-- Begin Footer Newsletter Area -->
                                   {% comment %}
                                     <!--  <div class="footer-newsletter">
                                        <h4>Sign up to newsletter</h4>
                                        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="footer-subscribe-form validate" target="_blank" novalidate>
                                           <div id="mc_embed_signup_scroll">
                                              <div id="mc-form" class="mc-form subscribe-form form-group" >
                                                <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email" />
                                                <button  class="btn" id="mc-submit">Subscribe</button>
                                              </div>
                                           </div>
                                        </form>
                                    </div> -->
                                   {% endcomment %}
                                    <!-- Footer Newsletter Area End Here -->
                                </div>
                                <!-- Footer Block Area End Here -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Static Middle Area End Here -->
                <!-- Begin Footer Static Bottom Area -->
                <div class="footer-static-bottom pt-55 pb-55">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Begin Footer Links Area -->
                                <!-- {% comment %}
                                  <div class="footer-links">
                                    <ul>
                                        <li><a href="#">Online Shopping</a></li>
                                        <li><a href="#">Promotions</a></li>
                                        <li><a href="#">My Orders</a></li>
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">Customer Service</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Most Populars</a></li>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Special Products</a></li>
                                        <li><a href="#">Manufacturers</a></li>
                                        <li><a href="#">Our Stores</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Payments</a></li>
                                        <li><a href="#">Warantee</a></li>
                                        <li><a href="#">Refunds</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Discount</a></li>
                                        <li><a href="#">Refunds</a></li>
                                        <li><a href="#">Policy Shipping</a></li>
                                    </ul>
                                </div>
                                {% endcomment %} -->
                                <!-- Footer Links Area End Here -->
                                <!-- Begin Footer Payment Area -->
                                <div class="copyright text-center">
                                    <a href="#">
                                        <img src="images/payment/1.png" alt="">
                                    </a>
                                </div>
                                <!-- Footer Payment Area End Here -->
                                <!-- Begin Copyright Area -->
                                <div class="copyright text-center pt-25">
                                    <span class="copyright">
                                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tout droits resérvé Kahraba Center | Réalisé par   <a style="color: #233774;" href="https://octopus-consulting.com" target="_blank">Octopus Consulting</a>
                                    </span>
                                </div>
                                <!-- Copyright Area End Here -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Static Bottom Area End Here -->
            </div>
            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        
            <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
            <!-- Popper js -->
            <script src="{% static "js/vendor/popper.min.js" %}"></script>
            <!-- Bootstrap V4.1.3 Fremwork js -->
            <script src="{% static "js/bootstrap.min.js" %}"></script>
            <!-- Ajax Mail js -->
            <script src="{% static "js/ajax-mail.js" %}"></script>
            <!-- Meanmenu js -->
            <script src="{% static "js/jquery.meanmenu.min.js" %}"></script>
            <!-- Wow.min js -->
            <script src="{% static "js/wow.min.js" %}"></script>
            <!-- Slick Carousel js -->
            <script src="{% static "js/slick.min.js" %}"></script>
            <!-- Owl Carousel-2 js -->
            <script src="{% static "js/owl.carousel.min.js" %}"></script>
            <!-- Magnific popup js -->
            <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
            <!-- Isotope js -->
            <script src="{% static "js/isotope.pkgd.min.js" %}"></script>
            <!-- Imagesloaded js -->
            <script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
            <!-- Mixitup js -->
            <script src="{% static "js/jquery.mixitup.min.js" %}"></script>
            <!-- Countdown -->
            <script src="{% static "js/jquery.countdown.min.js" %}"></script>
            <!-- Counterup -->
            <script src="{% static "js/jquery.counterup.min.js" %}"></script>
            <!-- Waypoints -->
            
            <script src="{% static "js/waypoints.min.js" %}"></script>
            <!-- Barrating -->
            <script src="{% static "js/jquery.barrating.min.js" %}"></script>
            <!-- Jquery-ui -->
            <script src="{% static "js/jquery-ui.min.js" %}"></script>
            <script src="{% static "js/venobox.min.js" %}"></script>
            <!-- Nice Select js -->
            <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
            <!-- ScrollUp js -->
            <script src="{% static "js/scrollUp.min.js" %}"></script>
            <script src="{% static "js/main.js" %}"></script>
            <script type="text/javascript" src="{% static "js/vendor/sweetalert.min.js" %}"></script>
            <!-- Venobox -->
            <!-- Main/Activator js -->
            {% block extrajs %}
            
            {% endblock extrajs %}
            <script src="https://unpkg.com/htmx.org@1.5.0" ></script>
            <script type="text/javascript" src="{% static "js/site-base.js" %}"></script>
            <script type="text/javascript" src="{% static "CACHE/js/awesome.8dd1a2872443.js" %}" charset="utf-8"></script>
            <script>
                document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
                })
            </script>
    </body>
<!-- 40432:14-->
</html>
